*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}
.header
{
    width: 100%;
    height: 1000px;
    background-image: url("./ariaimages/header-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.header1
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(16, 6, 6,.5);
    padding: 0 120px;
}
.header1 ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-weight: 700;
}
.header1 li
{
    padding: 0 10px;
}
.header1 a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.head
{
    width: 100px;
    height: 100px;
}
.head img
{
    width: 100%;
    height: 100%;
}
.head1
{
    width: 30px;
    height: 26px;
    background-image: url("./ariaimages/hexagon-green.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: first baseline;
    justify-content: center;
   
}
.head1 i.fa-brands.fa-facebook-f {
    margin-top: 7px;
    font-size: 14px;
}
.head1 i.fa-brands.fa-twitter {
    margin-top: 7px;
    font-size: 14px;
}
.header2
{
    width: 100%;
    height: 900px;
    /* border: 3px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(16, 6, 6,.5);
}
.header21
{
    width: 800px;
    height: 270px;
    /* border: 3px white solid; */
    margin-right: 20px;
    margin-bottom: 70px;
}
.h21
{
    width: 800px;
    height: 50px;
    text-align: center;
    /* padding-top: 20px; */
    padding: 0 20px;
}
.h21 h1
{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 65px;
    
}
.h21 p
{
    color: white;
    text-align: center;
    padding-top: 30px;
}
.h22
{
    text-align: center;
    margin-top: 70px;
}
.h22 a
{
    color: white;
    text-align: center;
    background-color: rgb(34, 181, 117);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 12px 25px;
    border-radius: 5px;
}
.body1
{
    width: 100%;
    height: 600px;
    /* border: 3px blue solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px
}
.body11
{
    width: 1200px;
    height: 400px;
    /* border: 2px solid blue; */
    display: flex;
    align-items: center;
}
.body111
{
    width: 500px;
    height: 400px;
    padding: 30px 50px 30px 0;
}
.b111
{
    width: 100%;
    height: 30px;
    text-transform: uppercase;
    color: rgb(34, 181, 117);
    font-weight: 700;
}
.b112
{
    width: 100%;
    height: 80px;
}
.b113
{
    width: 100%;
    height: 80px;
    font-style: italic;
}
.b114
{
    width: 100%;
    height: 130px;
}
.s
{
    text-transform: capitalize;
    margin-right: 5px;
}
.s1
{
    text-transform: uppercase;
    margin-left: 5px;
}
.body112
{
    width: 700px;
    height: 400px;
    background-image: url("./ariaimages/intro.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.body2
{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0 0 50px;
    /* border: 2px solid; */
}
.body21
{
    width: 400px;
    height: 200px;
    /* border: 2px solid black; */
    margin: 0 10px;
}
.body211
{
    width: 95px;
    height: 84px;
    background-image: url("./ariaimages/hexagon-green.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
i.fa-solid.fa-binoculars {
    font-size: 26px;
    /* margin-bottom: 26px; */
    color: white;
}
i.fa-solid.fa-list {
    font-size: 26px;
    /* margin-bottom: 26px; */
    color: white;
}
i.fa-solid.fa-chart-pie {
    font-size: 26px;
    /* margin-bottom: 26px; */
    color: white;
}
.body21 h2 
{
    text-transform: capitalize;
    padding-bottom: 10px;
    padding-top: 10px;
}
.body3
{
    width: 100%;
    height: 1000px;
    background-color: #eeeeee;
    text-align: center;
    padding-top: 150px;
}
.b3-3
{
    color: rgb(34, 181, 117);
    text-transform: uppercase;
}
.body3 h1
{
    color: rgb(72, 70, 70);
    text-transform: capitalize;
    padding-top: 20px;
}
.body31
{
    width: 100%;
    height: 600px;
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 70px;
    padding-right: 70px;
}
.body311
{
    width: 400px;
    height: 480px;
    background-color: white;
    /* border: 2px solid; */
    border-radius: 10px 10px 0 0;
    position: relative;
    
}
.body311 h2
{
    text-transform: capitalize;
    padding-top: 20px;
}
.body311 p
{
    /* text-transform: capitalize; */
    /* font-size: 14px; */
    padding-top: 20px;
}
.body311 ul
{
    list-style: inside square;
    padding-top: 20px;
    line-height: 1.5;
}
.body311 li::marker
{
    color: rgb(34, 181, 117);
}
.body311 h4
{
    text-transform: capitalize;
    padding-top: 20px;
}
.body311 a
{
    color: white;
    background-color: rgb(34, 181, 117);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
}
.b3-2
{
    position: absolute;
    top: 469px;
    left: 143px;
}
.b3-0
{
    width: 400px;
    height: 200px;
    /* border: 2px solid; */
    border-radius: 10px 10px 0 0;
}
.b3-0 img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}










.body4
{
    width: 100%;
    height: 1400px;
    /* border: 4px solid blueviolet; */
}
.body41
{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}
.body411
{
    width: 50%;
    height: 700px;
}
.body411 img
{
    width: 100%;
    height: 100%;
}
.body412
{
    width: 50%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
}
.body4121
{
    width: 600px;
    height: 400px;
    /* border: 2px solid black; */
    padding: 20px;
}
.body4121 h1
{
    color: rgb(72, 70, 70);
    text-transform: capitalize;
}
.b41211
{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}
.b4-1
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(34, 181, 117);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.b4-2
{
    width: 500px;
    height: 40px;
    color: rgb(34, 181, 117);
    /* border: 2px solid black; */
    text-transform: capitalize;
    padding-top: 5px;
}
.b41212
{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: right;
    /* border: 2px solid black; */
}
.b4-3
{
    width: 497px;
    height: 80px;
    color: rgb(72, 70, 70);
    padding-top: 5px;
}
.b4-4
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid rgb(72, 70, 70);
    color: rgb(72, 70, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.b4-5
{
    width: 500px;
    height: 40px;
    color: rgb(72, 70, 70);
    text-transform: capitalize;
    padding-top: 5px;
}
.body4123
{
    width: 600px;
    height: 360px;
    color: rgb(72, 70, 70);
    /* border: 2px solid black; */
    padding-right: 20px;
}
.body4123 ul
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.body4123 i.fa-solid.fa-list {
    font-size: 18px;
    margin-bottom: 15px;
    color: rgb(34, 181, 117);
    width: 20px;
}
.body4123 ul a
{
    color: rgb(34, 181, 117);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 24px;
}
.b4-6
{
    /* border: 2px solid black; */
    padding-left: 50px;
}
.b4-6 h2
{
    padding-top: 20px;
    text-transform: capitalize;
}
.b4-6 p
{
    padding-top: 10px;
}
.b4-6 a
{
    color: rgb(34, 181, 117);
}
.b4-7
{
    height: 50px;
    /* border: 2px solid black; */
    padding-left: 50px;
    margin: 25px 0;
}
.b4-7 h4
{
    text-transform: capitalize;
}
.b4-71
{
    width: 492px;
    height: 28px;
    background-color: rgb(34, 181, 117);
    border-radius: 3px;
}
.b4-72
{
    width: 374px;
    height: 28px;
    background-color: rgb(34, 181, 117);
    border-radius: 3px;
}
.b4-73
{
    width: 443px;
    height: 28px;
    background-color: rgb(34, 181, 117);
    border-radius: 3px;
}
.body5
{
    width: 100%;
    height: 550px;
    /* border: 2px solid black; */
    padding-top: 100px;
}
.body51
{
    width: 100%;
    height: 100px;
    text-align: center;
    color: rgb(72, 70, 70);
}
.body51 h1
{
    text-transform: capitalize;
    padding-bottom: 10px;
}
.body52
{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.body521
{
    width: 350px;
    height: 200px;
    color: rgb(72, 70, 70);
    /* border: 2px solid blue; */
    text-align: center;
    position: relative;
    margin: 0 30px;
}
.body521 h3
{
    text-transform: capitalize;
    font-weight: 700;
    padding-top: 10px;
    color: black;
}
.body521 p
{
    padding-top: 100px;
}
.b5211
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* border: 2px solid black; */
    position: absolute;
    left: 130px;

}
.b5211 img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.body6
{
    width: 100%;
    height: 600px;
    background-color: rgb(10, 61, 119);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.body61
{
    width: 600px;
    height: 350px;
    /* border: white 2px solid; */
    color: white;
}
.body61 h1
{
    text-transform: capitalize;
    padding-bottom: 25px;
}
.body61 ul
{
    /* list-style-type: square ; */
    list-style: inside square;
    padding-top: 20px;
    line-height: 1.5;
}
.body61 li::marker{
    color: rgb(34, 181, 117);
}
.body62
{
    width: 600px;
    height: 350px;
    /* border: white 2px solid; */
}
.body611
{
    color: rgb(34, 181, 117);
    text-transform: uppercase;
    font-weight: 700;
}
.body621
{
    width: 88%;
    height: 45px;
    color: whitesmoke;
    background-color: rgb(16, 6, 6,.5);
    /* text-transform: capitalize; */
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.body62 ul
{
    color: white;
    list-style: inside square;
}
.body62 li a
{
    color: white;
    text-decoration: underline;
}
.body62 li::marker
{
    color: white;
}
.body62 a
{
    text-decoration: none;
}
.body622
{
    width: 88%;
    height: 45px;
    color: white;
    background-color: rgb(34, 181, 117);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.body7
{
    width: 100%;
    height: 1100px;
    text-align: center;
}
.body7 p
{
    color: rgb(34, 181, 117);
    text-transform: uppercase;
    padding-top: 150px;
}
.body7 h1
{
    color: rgb(72, 70, 70);
    text-transform: capitalize;
    padding-top: 15px;
    padding-bottom: 50px;
}
.body7 ul
{
    list-style: none;
    display:  flex;
    align-items: center;
    justify-content: center;
}
.body7 a
{
    color: rgb(72, 70, 70);
    text-decoration: none;
    background-color: #eeeeee;
    font-weight: 700;
    padding: 5px 20px;
    text-transform: uppercase;
    margin: 0 10px;
    border-radius: 5px;
}
.body72 a
{
    background-color: rgb(34, 181, 117);
    color: white;
}
.body73
{
    width: 100%;
    height: 600px;
    /* border: 2px solid blue; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body731
{
    width: 1200px;
    height: 600px;
    /* border: 2px solid red; */
}
.body7311
{
    width: 1200px;
    height: 300px;
    /* border: 2px solid yellowgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.prjimg
{
    width: 300px;
    height: 300px;
}
.prjimg img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body8
{
    width: 100%;
    height: 600px;
    text-align: center;
}
.body8 h1{
    text-transform: capitalize;
    padding-bottom: 15px;
}
.body81
{
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    margin-top: 50px;
}
.body811
{
    margin: 0 20px;
}
.body811 h3
{
    text-transform: capitalize;
    font-weight: 700;
    padding-bottom: 10px;
}
.body811 p
{
    text-transform: capitalize;
    padding-top: 20px;
    padding-bottom: 5px;
}
.body811 ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-weight: 700;
}
.body811 a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.body811 li
{
    padding: 0 10px;
}
.body9
{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}
.body91
{
    width: 90%;
    height: 500px;
    /* border: 4px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.body911
{
    width: 600px;
    height: 350px;
    /* border: 2px solid blue; */
    /* padding: 40px; */
}
.body911 img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body9111
{
    width: 600px;
    height: 250px;
    /* border: white 2px solid; */
    color: black;
}
.body9111 h1
{
    text-transform: capitalize;
    padding-bottom: 30px;
}
.body9111 ul
{
    /* list-style-type: square ; */
    list-style: inside square;
    padding-top: 20px;
    line-height: 1.8;
}
.body9111 li::marker{
    color: rgb(34, 181, 117);
}
.body912
{
    width: 600px;
    height: 350px;
    /* border: 2px solid blue; */
    padding: 0 0 0 80px;
}
.body9121
{
    width: 600px;
    height: 50px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-top: 60px;
}
.b9-1
{
    width: 70px;
    height: 50px;
    /* border: 2px solid black; */
    margin-left: 10px;
    margin-top: 10px;
}
.b9-1 h1
{
    font-weight: 700;
    font-size: 40px;
    color: rgb(34, 181, 117);
}
.b9-1 p
{
    text-transform: capitalize;
    padding-top: 7px;
    font-size: 14px;
}
.b91-1 p
{
    color: rgb(34, 181, 117);
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}
.body10
{
    width: 100%;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
}
.body101
{
    width: 1200px;
    height: 350px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.body1011
{
    width: 600px;
    height: 350px;
    /* border: 2px solid blue; */
    color: rgb(72, 70, 70);
}
.body1011 h1
{
    text-transform: capitalize;
    padding-bottom: 25px;
}
.body1011 h2
{
    text-transform: capitalize;
    padding-top: 35px;
}
.body1011 ul
{
    list-style: none;
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.body1011 li
{
    padding-right: 20px;
}
.body10111
{
    color: rgb(34, 181, 117);
    text-transform: uppercase;
    font-size: 14px;
    /* font-weight: 700; */
}
.body1012
{
    width: 600px;
    height: 350px;
    /* border: 2px solid blue; */
    padding-left: 80px;
}
.b10-3
{
    width: 45px;
    height: 39px;
    background-image: url("./ariaimages/hexagon-green.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: first baseline;
    justify-content: center;
}
.b10-2 i.fa-solid.fa-location-dot {
    color: rgb(34, 181, 117);
    width: 21px;
    font-size: 14px;
}
.b10-2 i.fa-solid.fa-phone-flip {
    color: rgb(34, 181, 117);
    width: 21px;
    font-size: 14px;
}
.b10-2 i.fa-solid.fa-envelope {
    color: rgb(34, 181, 117);
    width: 21px;
    font-size: 14px;
}
.b10-3 i.fa-brands.fa-facebook-f {
    color: white;
    margin-top: 11px;
}
.b10-4 a
{
    text-decoration: none;
}
.b10-3 i.fa-brands.fa-twitter {
    color: white;
    margin-top: 11px;
}
.b10-3 i.fa-brands.fa-pinterest {
    color: white;
    margin-top: 11px;
}
.b10-3 i.fa-brands.fa-instagram
{
    color: white;
    margin-top: 11px;
}
.b10-3 i.fa-brands.fa-linkedin
{
    color: white;
    margin-top: 11px;
}
.b10-3 i.fa-brands.fa-behance
{
    color: white;
    margin-top: 11px;
}
.b10-1
{
    width: 88%;
    height: 45px;
    color: white;
    background-color: rgb(34, 181, 117);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.b10-0
{
    width: 88%;
    height: 45px;
    color: rgb(72, 70, 70);
    background-color: white;
    /* text-transform: capitalize; */
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.b10-5
{
    width: 88%;
    height: 100px;
    color: rgb(72, 70, 70);
    background-color: white;
    /* text-transform: capitalize; */
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.body1012 ul
{
    list-style: inside square;
    font-size: 14px;
}
.body1012 li::marker
{
    color:  white;
}
.b10-6 a 
{
    text-decoration: none;
}
.footer
{
    width: 100%;
    height: 350px;
    background-color: rgb(10, 61, 119);
    padding-top: 100px;
    padding-left: 120px;
    margin-bottom: 70px;
}
.footer1{
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-left: 5%; */
}
.footer2
{
    width: 600px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f1
{
    width: 550px;
    height: 200px;
    /* border: 1px solid white; */
    color: white;
}
.f1 h2
{
    padding-bottom: 10px;
}
.f2
{
    width: 200px;
    height: 200px;
    /* border: 1px solid white; */
    color: white;
}
.f2 h2
{
    padding-bottom: 2px;
}
.f2 ul
{
    list-style: none;
    line-height: 1.8;
}
.f2 a
{
    color: white;
}
.footer3
{
    text-align: center;
    color: white;
}